albumentations~=1.3.1
numpy>=1.26.4,<2
matplotlib~=3.8.0
matplotlib-inline==0.1.6
tqdm~=4.65.2
torchmetrics~=1.6.1
pillow~=10.4.0
scikit-image~=0.22.0
scikit-learn~=1.3.2
scipy~=1.14.0
pandas~=1.5.3
seaborn~=0.13.2
timm~=0.9.8
pytest~=8.3.5
fiftyone~=1.7.2
PyYAML~=6.0.1
segment_anything == 1.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
gimpformats==2024
optuna==4.2.0
kornia==0.8.1
mlflow==3.4.0
temp==2020.7.2
pytest-shutil==1.8.1
GPUtil==1.4.0
grpcio==1.75.1
grpcio-tools==1.75.1
numpy==1.23.5
